:root {
  --www-apple-com-semantic-heading-2-font-family: "SF Pro Display", Helvetica;
  --www-apple-com-semantic-heading-2-font-weight: 400;
  --www-apple-com-semantic-heading-2-font-size: 56px;
  --www-apple-com-semantic-heading-2-letter-spacing: -0.2800000011920929px;
  --www-apple-com-semantic-heading-2-line-height: 60px;
  --www-apple-com-semantic-heading-2-font-style: normal;
  --www-apple-com-semantic-heading-3-font-family: "SF Pro Text", Helvetica;
  --www-apple-com-semantic-heading-3-font-weight: 400;
  --www-apple-com-semantic-heading-3-font-size: 12px;
  --www-apple-com-semantic-heading-3-letter-spacing: -0.11999999731779099px;
  --www-apple-com-semantic-heading-3-line-height: 16px;
  --www-apple-com-semantic-heading-3-font-style: normal;
  --www-apple-com-semantic-item-font-family: "SF Pro Text", Helvetica;
  --www-apple-com-semantic-item-font-weight: 400;
  --www-apple-com-semantic-item-font-size: 12px;
  --www-apple-com-semantic-item-letter-spacing: -0.11999999731779099px;
  --www-apple-com-semantic-item-line-height: 16px;
  --www-apple-com-semantic-item-font-style: normal;
  --www-apple-com-semantic-link-font-family: "SF Pro Text", Helvetica;
  --www-apple-com-semantic-link-font-weight: 400;
  --www-apple-com-semantic-link-font-size: 12px;
  --www-apple-com-semantic-link-letter-spacing: -0.11999999731779099px;
  --www-apple-com-semantic-link-line-height: 16px;
  --www-apple-com-semantic-link-font-style: normal;
  --www-apple-com-semantic-link-underline-font-family: "SF Pro Text", Helvetica;
  --www-apple-com-semantic-link-underline-font-weight: 400;
  --www-apple-com-semantic-link-underline-font-size: 12px;
  --www-apple-com-semantic-link-underline-letter-spacing: -0.11999999731779099px;
  --www-apple-com-semantic-link-underline-line-height: 16px;
  --www-apple-com-semantic-link-underline-font-style: normal;
  --www-apple-com-SF-pro-display-regular-font-family: "SF Pro Display",
    Helvetica;
  --www-apple-com-SF-pro-display-regular-font-weight: 400;
  --www-apple-com-SF-pro-display-regular-font-size: 20px;
  --www-apple-com-SF-pro-display-regular-letter-spacing: 0px;
  --www-apple-com-SF-pro-display-regular-line-height: 22px;
  --www-apple-com-SF-pro-display-regular-font-style: normal;
  --www-apple-com-SF-pro-display-bold-font-family: "SF Pro Display", Helvetica;
  --www-apple-com-SF-pro-display-bold-font-weight: 700;
  --www-apple-com-SF-pro-display-bold-font-size: 20px;
  --www-apple-com-SF-pro-display-bold-letter-spacing: 0px;
  --www-apple-com-SF-pro-display-bold-line-height: 22px;
  --www-apple-com-SF-pro-display-bold-font-style: normal;
  --www-apple-com-SF-pro-text-regular-font-family: "SF Pro Text", Helvetica;
  --www-apple-com-SF-pro-text-regular-font-weight: 400;
  --www-apple-com-SF-pro-text-regular-font-size: 14px;
  --www-apple-com-SF-pro-text-regular-letter-spacing: -0.37400001287460327px;
  --www-apple-com-SF-pro-text-regular-line-height: 20.59000015258789px;
  --www-apple-com-SF-pro-text-regular-font-style: normal;
  --www-apple-com-SF-pro-text-medium-font-family: "SF Pro Text", Helvetica;
  --www-apple-com-SF-pro-text-medium-font-weight: 500;
  --www-apple-com-SF-pro-text-medium-font-size: 14px;
  --www-apple-com-SF-pro-text-medium-letter-spacing: 0px;
  --www-apple-com-SF-pro-text-medium-line-height: 18px;
  --www-apple-com-SF-pro-text-medium-font-style: normal;
}
